node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.*.local
.vscode
.idea
*.iml
*.log
*.jar
target/
build/
.DS_Store
*.bat
*.sh
README.md
.github/
.excalidraw
docker-compose.yml
.dockerignore
Dockerfile
